<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>

    <div id="content" class="col-md-9 col-sm-8">

        <h2>About the Ronald Reis Photographs Collection</h2>

        <p>Ronald Reis began taking photographs as a youngster with an Argus A2. He shot sports photography in junior high school with an Argus C-3 and an Ansco Reflex. He continued photographing sports, acquiring cameras, and developing his darkroom skills throughout high school and college. After graduating from the University of Pennsylvania in 1957, Reis turned his 35mm Leica from the sports fields to the streets.

            <div class="well" style="margin: 0 0 1em 1.5em;">

                <%= image_tag("ddr-portals/ronaldreis/L1060444.jpg", class: "img-responsive", style: "width: 100%;", alt: "Ronald Reis") %>
                <div class="caption">
                    <p>Ronald Reis in New York City.</p>
                </div>

            </div>

        <p>Influenced by the work of Helen Levitt, Louis Stettner, and Cartier-Bresson, Reis became a passionate street photographer, honing his eye and his ability to compose and capture photographs on the fly. This decisive quality is reflected in his contact sheets filled with single exposures. Reis primarily photographed in New York, Connecticut, and Europe during the 1960s. The collection captures the look and feel of this pivotal decade, especially in New York City and London.</p>

        <p>Ronald Reis continues to photograph on the street using digital cameras and now prints in color as well as black and white.</p>

    </div>

    <div id="sidebar" class="col-md-3 col-sm-4">

        <%= render 'shared/about_sidebar' %>

    </div>
<% end %>
