<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>

  <div id="content" class="col-md-9 col-sm-8">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#about-english" role="tab" data-toggle="tab">English</a></li>
      <li><a href="#about-francais" role="tab" data-toggle="tab">Fran&ccedil;ais</a></li>
      <li><a href="#about-kreyol" role="tab" data-toggle="tab">Kreyol</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane active" id="about-english">

        <h2>About the Radio Haiti collection</h2>

        <div class="col-md-5 pull-right">
          <div class="well">
<%= image_tag("ddr-portals/radiohaiti/radiohaiti-station-86011.jpg", class: "img-responsive thumbnail", alt: "Radio Haiti-Inter’s original sign in downtown Port-au-Prince, February 1986") %>
            <div class="caption">
              <p>Radio Haiti-Inter’s original sign in downtown Port-au-Prince, February 1986</p>
            </div>
          </div>
        </div>

        <p>The Radio Haiti collection is perhaps the most thorough documentation of late 20th century Haitian politics and history, including but not limited to the Duvalier regime and its aftermath; the nascent democratic movement amid the tumultuous military rule of  the Conseil National de Gouvernement in the late 1980s; the rise, first presidency, overthrow, return, and second presidency of Jean-Bertrand Aristide; the aftermath of the 1991-1994 coup years during which Haiti’s democratically-elected government was in exile; and the first presidency of René Préval. Radio Haiti both covered and spoke out against impunity, calling for justice for victims of human rights violations and political oppression as well as victims of corruption and corporate malfeasance. With his background as an agronomist, Jean Dominique focused in particular on the political and land rights of dispossessed peasant farmers and the need for Haiti to strengthen and support national agricultural production. Radio Haiti advocated for freedom of the press and documented repression of the independent media, and reported on grassroots and civil society organizations, workers’ rights, and women’s rights campaigns. Radio Haiti covered international relations: the plight of undocumented Haitian refugees fleeing to the United States or the Bahamas (so-called “boat people”), Haitian cane-cutters in the Dominican Republic and repatriations of Haitian people from the Dominican Republic, US policy toward Haiti and US involvement in Haitian politics, neoliberal reform and structural adjustment policies. Radio Haiti also promoted and showcased Haitian art and culture, including painting, literature, poetry, theatre, music, history and national heritage, and other intellectual production. They highlighted Vodou as a meaningful and important part of national culture worthy of serious analysis. The station focused extensively on key moments of repression and injustice, such as the 1987 Jean Rabel massacre of peasant farmers, the 1988 massacre of parishioners at St. Jean Bosco church, and the 1994 Raboteau massacre of Aristide partisans by the military and FRAPH (Front pour l'Avancement et le Progrès Haïtien) paramilitary, and on important assassinations and disappearances, including but certainly not limited to liberation theology priests Jean-Marie Vincent and Jean Pierre-Louis, and, of course, the hired killing of Radio Haiti’s own director, Jean Léopold Dominique in April 2000.</p>

        <p>Radio Haiti afforded as much consideration and airtime to the voices and concerns of peasant farmers from rural Haiti, members of grassroots organizations, Haitian braceros living on Dominican bateys, and residents of poor urban neighborhoods as it did to prominent politicians and intellectuals. By reporting largely in Haitian Creole, the language that all Haitian people speak and understand, Radio Haiti made media and communication truly democratic, and showed Creole could be a language of political and intellectual inquiry.</p>

        <p>Radio Haiti’s programming consisted of on-the-ground breaking news, reportage, extensive on-air interviews and debates (such as “Face à l’Opinion”, “Pawòl la Pale” and “Forum Électoral”), news magazines (such as “Inter-Actualités Magazine” and “Inter-Face”), cultural programming (“Entre Nous”) and editorials (“Le Point”). The Rubenstein Library acquired the Radio Haiti collection as part of the Human Rights Archive in 2013.</p>

      </div>


      <div class="tab-pane" id="about-francais">

        <h2>À propos des archives de Radio Haïti</h2>

        <div class="col-md-5 pull-right">
          <div class="well">
            <%= image_tag("ddr-portals/radiohaiti/radiohaiti-station-86011.jpg", class: "img-responsive thumbnail", alt: "L’enseigne originale de Radio Haïti-Inter au centre-ville de Port-au-Prince, février 1986") %>
            <div class="caption">
              <p>L’enseigne originale de Radio Haïti-Inter au centre-ville de Port-au-Prince, février 1986</p>
            </div>
          </div>
        </div>

        <p>Les archives de Radio Haïti constituent peut-être la source d’information la plus riche sur la politique et l’histoire haïtiennes de la fin du 20ème siècle comprenant, entre autres, le régime Duvalier et ses répercussions, l’émergence du mouvement démocratique pendant la période houleuse du régime militaire du Conseil National de Gouvernement à la fin des années 1980, l’ascension au pouvoir de Jean-Bertrand Aristide, son premier mandat présidentiel, son renversement, son retour au pays et son second mandat, les répercussions de la période du coup d’état de 1991 à 1994 pendant laquelle les représentants du gouvernement élus démocratiquement vivaient en exil, et le premier mandat de René Préval. Radio Haïti à la fois relatait et dénonçait les actes d’impunité, réclamant que justice soit rendue pour les victimes de violations des droits humains et d’oppression politique ainsi que pour les victimes de corruption et de malversations au sein d’entreprises. Agronome de formation, Jean Dominique se penchait en particulier sur les droits politiques et fonciers des paysans/agriculteurs et de la nécessité de renforcer et soutenir la production agricole nationale en Haïti. Radio Haïti défendait la liberté de la presse et documentait la répression des médias indépendants, et réalisait des reportages sur les organisations locales et issues de la société civile, sur les droits des travailleurs, et sur les campagnes d’action pour la promotion des droits des femmes. Radio Haïti couvrait les relations internationales : la détresse des réfugiés quittant Haïti pour les Etats-Unis ou les Bahamas (dénommés «boat-people»), les coupeurs de canne en République Dominicaine et le rapatriement d’Haïtiens depuis la République Dominicaine, la politique américaine envers Haïti et l’implication des Etats-Unis dans la politique haïtienne, les réformes néolibérales et les politiques d’ajustement structurel. Radio Haïti a aussi promu et mis en valeur l’art et la culture haïtiens comme la peinture, la littérature, la poésie, la musique, l’histoire et le patrimoine national, ainsi que d’autres productions intellectuelles. Radio Haïti présentait le vodou comme une partie intégrante et significative de la culture nationale méritant d’être étudiée et analysée de façon approfondie. La station radio se consacrait largement aux moments de répression et d’injustice clés, comme le massacre des paysans à Jean Rabel en 1987, le massacre de paroissiens à l’église de Saint Jean Bosco en 1988, et le massacre de partisans d’Aristide perpétré par des militaires et des membres du groupe paramilitaire FRAPH (Front Pour l’Avancement et le Progrès d’Haïti), ainsi que les assassinats et les disparitions d’importantes personnalités, comme les meurtres de Jean-Marie Vincent et Jean Pierre-Louis, prêtres partisans de la théologie de la libération, et, bien sûr, l’assassinat commandité du directeur même de Radio Haïti, Jean Léopold Dominique, en avril 2000.</p>

        <p>Radio Haïti accordait autant d’attention et de temps d’antenne à la parole et aux préoccupations des paysans du milieu rural haïtien, des membres d’organisations locales, des «braceros» haïtiens vivant dans les «bateyes» dominicains, et des habitants des quartiers urbains défavorisés, qu’à celles des politiciens et intellectuels les plus en vue. En réalisant la majorité des reportages en Créole Haïtien, la langue parlée et comprise par tous les Haïtiens, Radio Haïti a rendu les médias et la communication réellement démocratiques, et a montré que le Créole pouvait être une langue de réflexion politique et intellectuelle.</p>

        <p>La programmation de Radio Haïti comprenait la couverture des dernières actualités sur le terrain, des reportages, de longs débats et interviews en profondeur à l’antenne (comme «Face à l’Opinion», «Pawòl la Pale» et «Forum Électoral»), des magazines d’actualité (comme «Inter-Actualités Magazine» et «Inter-Face»), des programmes culturels («Entre Nous») et des éditoriaux («Le Point»). Les archives de Radio Haïti, qui font partie des archives des Droits Humains, ont été acquises par la bibliothèque Rubenstein en 2013.</p>
        

      </div>


      <div class="tab-pane" id="about-kreyol">

        <h2>Sou achiv Radyo Ayiti yo</h2>

        <div class="col-md-5 pull-right">
          <div class="well">
            <%= image_tag("ddr-portals/radiohaiti/radiohaiti-station-86011.jpg", class: "img-responsive thumbnail", alt: "Pankat orijinal Radyo Ayiti-Entè anba lavil Pòtoprens, fevriye 1986") %>
            <div class="caption">
              <p>Pankat orijinal Radyo Ayiti-Entè anba lavil Pòtoprens, fevriye 1986</p>
            </div>
          </div>
        </div>

        <p>Achiv Radyo Ayiti yo se petèt achiv ki pi konplè sou politik ak istwa Ayiti pandan fen 20yèm syèk la.  Li gen ladan l pwogramasyon sou rejim Duvalier a ak tras rejim nan; mouvman demokratik ki t ap parèt pandan Ayiti te anba gouvènman militè Konsèy Nasyonal Gouvènman an nan fen ane 1980 yo; monte, premye prezidans, ranvèsman, retou ak dezyèm prezidans Jean-Bertrand Aristide la; konsekans peryòd koudeta 1991-1994 la, lè gouvèman demokratik la te an egzil; ak premye prezidans René Préval la.  Radyo Ayiti te repòte sou enpinite pandan yo t ap denonse l tou: yo te mande jistis pou viktim vyolasyon dwa moun ak represyon politik, ak pou viktim koripsyon ak neglijans kriminèl antèpriz prive te fè pèp ayisyen an.  Kòm Jean Dominique te agwonòm de fòmasyon, li te mete aksan sou dwa politik ak dwa tè ti peyizan ayisyen yo ki t ap sibi abi nan men grandon ak makout yo, ak sou enpòtans pwodiksyon nasyonal pou peyi Ayiti.  Radyo Ayiti te defann libète laprès epi li te dokimante represyon laprès lib.  Yo te repòte sou òganizasyon popilè ak òganizasyon sosyete sivil yo, ak sou mouvman dwa ouvriye ak dwa fanm yo.  Radyo Ayiti te trete relasyon entènasyonal tou: mizè refijye ayisyen san papye ki t ap chèche lavi Ozetazini osinon nan peyi Baamas (swadizan «botpipèl»), sou ayisyen ki t al koupe kann nan zafra dominiken ak repatriman ayisyen ki soti nan Dominikani, sou politik Etazini sou Ayiti ak jan Etazini t ap mele nan zafè Ayiti yo, sou konsekans refòm neyoliberal ak politik ajisteman striktirèl yo.  Anplis, Radyo Ayiti te ankouraje ak valorize kreyasyon atistik ak kilti Ayiti a: tablo, literati, pwezi, teyat, mizik, istwa, patrimwann nasyonal, ak pwodiksyon entelektyèl.  Yo te souliye Vodou a kòm yon aspè enpòtan nan kilti nasyonal la, ki te merite analize oserye. Radyo a te mete anpil aksan sou moman kle nan istwa represyon ak enjistis, pa egzanp masak Janrabèl la kote anpil peyizan mouri nan lane 1987, masak Sen Jan Bosko a kote atache yo te touye anpil manm legliz la nan lane 1988, ak masak Raboto a kote lame ak paramilitè FRAPH yo te touye anpil patizan Aristide.  Yo te mete aksan tou sou asasina ak disparisyon, pa egzanp asasina Pè Jean-Marie Vincent ak Pè Jean Pierre-Louis ki te  de prèt ki t ap preche teyoloji liberasyon, epi, natirèlman, lanmò Jean Dominique, direktè Radyo Ayiti a, ki te krabinnen 3 avril 2000 nan lakou radyo a.</p>

        <p>Radyo Ayiti te bay tout moun lapawòl: peyizan ki soti nan swadizan «peyi andeyò», manm òganizasyon popilè, bwasero ayisyen ki t ap pase mizè nan batèy dominiken, ak moun ki soti nan bidonvil yo.  Yo te montre se pa sèlman gwo zouzou politik ak entelektyèl ki gen dwa pale nan mikwo a.  Yo chwazi fè repòtaj nan lang kreyòl la, ki se lang tout ayisyen pale ak konprann; konsa Radyo Ayiti te rann medya ak kominikasyon vin demokratik tout bon, epi yo te montre kreyòl la ka sèvi kòm lang pou fè analiz politik ak entelektyèl.</p>

        <p>Pwogramasyon Radyo Ayiti a te gen ladan l dènye nouvèl sou teren, repòtaj, entèvyou ak debat apwofondi (pa egzanp, «Face à l’Opinion», «Pawòl la Pale», ak «Forum Électoral»), magazin aktyalite (pa egzanp, «Inter-Actualités Magazine» ak «Inter-Face»), pwogramasyon kiltirèl («Entre Nous») ak editoryal («Le Point»). Bibliyotèk Rubenstein nan te jwenn Achiv Radyo Ayiti yo kòm pati «Human Rights Archive» (Achiv Dwa Moun) lan nan lane 2013.</p>


      </div>


    </div>

    <hr/>

    <h2 id="copyright">Copyright</h2>
    <p>The copyright in original Radio Haiti material is owned and administered by Michèle Montas and J.J. Dominique. To encourage research, scholarship, and general use of the collection, they have licensed this material for reuse under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-Sharealike 4.0 license</a>. This means that you are free to share and adapt this material, but only if you provide <a href="http://library.duke.edu/rubenstein/findingaids/radiohaiti/#administrative">proper attribution</a>, use the material for non-commercial purposes, and license anything new that you create from this material under the same license.</p>
    <p>For uses that do not fall within this license (including commercial uses) please <a href="http://library.duke.edu/rubenstein/ask">contact the Rubenstein Library</a>.</p>
    <p>Not all material in this collection is original to Radio Haiti and covered by this Creative Commons license. Some recordings include third-party content. Where appropriate, we have made efforts to identify and locate rightsholders for permission to use that content. In some cases, we were unable to locate rightsholders for permissions. In other cases, the context and quantity of the material used supported an independent exercise of fair use. The Creative Commons license explained above does not cover any of this third-party content. Responsibility for making an independent legal assessment of the material and securing any necessary permissions ultimately rests with person desiring to use that material.</p>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>

<% end %>
