<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">
    <ul class="nav nav-tabs" role="tablist">

      <li class="active"><a href="#overview" role="tab" data-toggle=
      "tab">Overview</a></li>

      <li><a href="#copyright-citation" role="tab" data-toggle="tab">Copyright &amp;
      Citation</a></li>

      <li><a href="#acknowledgements" role="tab" data-toggle=
      "tab">Acknowledgements</a></li>

    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="overview">
        <h1>About Emergence of Advertising in America (EAA)</h1>

        <p>The Emergence of Advertising in America: 1850-1920 (EAA) presents over 3,000
        items relating to the early history of advertising in
        the United States. The materials, drawn from the David M. Rubenstein Rare Book &amp;
        Manuscript Library at Duke University, provide a significant and informative
        perspective on the early evolution of this most ubiquitous feature of modern American
        business and culture.</p>

        <h2>Research Guide</h2>

        <p>Please consult our <a href="http://guides.library.duke.edu/eaa">Research
        Guide</a> for Emergence of Advertising in America.</p>

        <h2 id="citation">Preferred Citation</h2>

        <p>Emergence of Advertising in America - Ad #R0108<br />
        John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
        Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
        https://repository.duke.edu/dc/eaa</p>

        <p><a href="#copyright-citation" data-toggle="tab">Read more...</a></p>

        <h2>Copyright Information</h2>
        
        <h3>Research, Teaching, Private Study, General Interest User
        Information:</h3>
        
        <p>The images and texts on this web site have been made available for
        use in research, teaching, and private study. For these purposes you may reproduce
        (print, make photocopies, or download) materials from this web site without prior
        permission, on the condition that you provide proper attribution of the source in all
        copies (<a href="#copyright-citation" data-toggle="tab">more...</a>)</p>

        <p><strong>This site includes historical materials that may contain negative
        stereotypes or language reflecting the culture or language of a particular period or
        place. These items are presented as part of the historical record.</strong></p>

        <h2>About the Project</h2>
        
        <p>Emergence of
        Advertising in America: 1850-1920 (EAA) is a project made possible by grant funding
        to Duke University from the 1998 <a href=
        "http://memory.loc.gov/ammem/award/index.html">Library of Congress/Ameritech National
        Digital Library Competition</a>. The award has enabled the <a title="Hartman Center"
        href="http://library.duke.edu/rubenstein/hartman/">Hartman Center for Sales,
        Advertising &amp; Marketing History</a>, in cooperation with the Duke Library's
        Digital Scriptorium, to make rare advertising history resources available via the
        World Wide Web. Duke University is greatly honored to be a recipient of one of the 11
        LC/Ameritech grants awarded in the 1997/98 competition. EAA presents over 3,000
        items that illustrate the rise of consumer culture, especially after the American
        Civil War, and the birth of a professionalized advertising industry in the United
        States.</p> 
        
        <p>The images are drawn from over a dozen separate collections in the Hartman
        Center and Duke's David M. Rubenstein Rare Book &amp; Manuscript Library. The project
        organizes the materials into eleven categories. In most of those categories the
        images shown represent only a portion of a particular collection or series. For EAA
        we selected representative images, including primarily items or pages that are
        especially informative and visually interesting. We chose not to scan some items that
        are "near duplicates," some pages of dense text from books and pamphlets, and items
        that are very large (technically challenging) or significantly damaged. The purpose
        of the project is to make a range of important, interesting, and rare advertising
        items widely available for study and research, enhancing the usefulness of the
        illustrative material with essays, a timeline, and bibliographies. Advertising, as
        has been noted by many commentators, is such a pervasive feature of American life
        that our culture from the late 19th century onward cannot be fully understood without
        studying ads and the industry that created them. </p>

      </div>

      <div class="tab-pane" id="copyright-citation">

        <h1>Copyright and Citation</h1>

        <h2 id="copy">Research, Teaching, Private Study, General Interest User
        Information:</h2>

        <p>The images and texts on this web site have been made available for use in
        research, teaching, and private study. For these purposes you may reproduce (print,
        make photocopies, or download) materials from this web site without prior permission,
        on the condition that you provide proper attribution of the source in all copies.</p>

        <p>Under certain conditions specified in the law, libraries and archives are
        authorized to furnish a photocopy or other reproduction. One of these specified
        conditions is that the photocopy or reproduction is not to be "used for any purpose
        other than private study, scholarship, or research." If a user makes a request for,
        or later uses, a photocopy or reproduction for purposes in excess of "fair use," that
        user may be liable for copyright infringement. This institution reserves the right to
        refuse to accept a copying order if, in its judgment, fulfillment of the order would
        involve violation of copyright law.</p>

        <h2>Commercial, Broadcast, Mirroring, etc. User Information:</h2>

        <p>Any other use that does not fall under the above requirements, including but not
        limited to commercial or scholarly reproductions, redistribution, publication or
        transmission, whether by electronic means or otherwise, without prior written
        permission of the David M. Rubenstein Rare Book &amp; Manuscript Library is strictly
        prohibited. Users must <a href=
        "http://library.duke.edu/rubenstein/ask" title="Contact">contact the
        Library</a> to request permission to use materials in any manner that does not meet
        the above requirements. Persons wishing to broadcast or publish this material must
        assume all responsibility for identifying and satisfying any claimants of copyright
        or other use restrictions.</p>

        <h2 id="repo">How to obtain reproductions:</h2>

        <p>Due to the varying nature of the items represented in the Emergence of Advertising
        in America: 1850 - 1920 project, there may be different copyright or other
        reproduction restrictions that apply to each collection. If you would like to
        reproduce materials from this site in a way that does not fall under fair use, please
        contact the Research Services Department of the David M. Rubenstein Rare Book &amp;
        Manuscript Library. Specify what advertising items you are interested in (by the
        database number). We will be able to inform you of any reproduction restrictions on a
        case-by-case basis. In some cases, we may be able to supply you with
        publication-quality slides or scanned images of the items you are requesting, so if
        you are interested in using materials in this format, please let us know.</p>

        <h2 id="cite">How to cite materials:</h2>

        <p>When using advertisements from the EAA project, please acknowledge their source by
        clearly stating the name of the collection, the database number, the name of the
        project, the collection name, and the name of the library. Also include the URL of
        the project's main page. An example is noted below:</p>

        <p>Emergence of Advertising in America - Ad #A0160<br />
        John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
        Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
        https://repository.duke.edu/dc/eaa</p>

      </div>

      <div class="tab-pane" id="acknowledgements">
        <h1>Acknowledgements</h1>

        <p>The Emergence of Advertising in America: 1850 - 1920 Project (EAA), generously
        funded through the <a href="http://memory.loc.gov/ammem/award/index.html">Library 
        of Congress/Ameritech Digital Library Competition</a>, is the
        result of teamwork and coordination between two centers at the Duke
        University Rare Book, Manuscript &amp; Special Collections Library, now the <a href="http://library.duke.edu/rubenstein/" title="Rubenstein">David
        M. Rubenstein Rare Book &amp; Manuscript Library</a>.</p>

        <p>The majority of advertising materials are part of the <a href=
        "http://library.duke.edu/rubenstein/hartman" title="Hartman Center">John W. Hartman
        Center for Sales, Advertising &amp; Marketing History</a>; the staff of the Hartman
        Center provided selection, subject and processing information. The Digital
        Scriptorium staff dealt with the digitization of the ads, file management, image and
        data conversion, and placement on the web.</p><br />

        <p>Staff Members:</p>

        <p>Digital Scriptorium Staff:</p>

        <ul>
          <li>Lynn Eaton: EAA Project Manager<br />
            <p>Overall project management including workflow and scanning, interface design and
            Web site creation, quality control of images and data, EAD and TEI encoding, and
            student management.</p>
          </li>

          <li>Stephen Miller: Project Manager for the William Gedney Photographs and Writings
          Project<br />
            <p>Assisted the EAA Project with Perl scripting, Dynaweb programming, and image
            conversion.</p>
          </li>

          <li>Paolo Mangiafico: Director of the Digital Scriptorium<br/>  
            <p>Assisted the EAA Project with Java scripting, Dynaweb programming, image conversion
            and quality control.</p>
          </li>
          <li>Steve Hensen: Consultant</li>
        </ul>

        <p>Hartman Center Staff:</p>
        <ul>
          <li>Ellen Gartrell: Director of the John W. Hartman Center for Sales,
          Advertising &amp; Marketing History. EAA Project Director</li>
          <li>Ginny Daley: Hartman Center Technical Services Archivist</li>
          <li>Jacqueline Reid: Hartman Center Reference Archivist</li>
        </ul>

        <p>Special thanks to all of the Duke University students who worked on the EAA
        Project:</p>

        <ul>
          <li>Andrew Barco</li>
          <li>Lydia Boyd</li>
          <li>Adrienne Brueggemeyer</li>
          <li>Jordan Capps</li>
          <li>Teresa Chung</li>
          <li>Ryan Denniston</li>
          <li>Justin Essig</li>
          <li>Eliza Glaze</li>
          <li>Sunil Hari</li>
          <li>Brian Leach</li>
          <li>Shu Wen Ng</li>
          <li>John Royall</li>
          <li>Cat Saleeby</li>
          <li>Brad Siegele</li>
          <li>Amardeep Singh</li>
          <li>Shannon Smith</li>
          <li>Sunil Soman</li>
          <li>Kristen Stenvall</li>
          <li>Heather Swagart</li>
          <li>Rosalyn Tang</li>
          <li>Jonathan Torrens</li>
          <li>Kelly Woo</li>
          <li>Amy Yuen</li>
        </ul>

      </div>

    </div>
  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
