<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <h2>About the Digital Collection</h2>

    <p>This collection of 20th-century Russian posters spans almost the entire history of the Soviet Union (1917-1991).&nbsp; It can be divided into three main series, representing distinct eras in the history of Communist political advertising:</p>
    <ul>
      <li><a href="http://library.duke.edu/digitalcollections/russian-posters/?facet=Series%3DGeneral+Political+Poster+Series%2C+1919-1930+and+undated"><strong>General Political Posters Series</strong> </a>(29 items)<br/>
    Original posters from the earliest days of Soviet power and I. V. Stalin's "Cultural Revolution" cover a range of issues related to religion, the status of women,&nbsp; economic and social changes, and political events. They emphasize the benefits of force-draft industrialization and agricultural collectivization, the achievements of the Soviet Union under communism, and the struggle against capitalism.&nbsp; This collection of posters from the 1920s and 1930s is rounded out by an additional nine items from the Facsimile Posters Series.<br/></li>
      <li><a href="http://library.duke.edu/digitalcollections/russian-posters/?facet=Series%3DTwenty-Second+Communist+Party+Congress+Series%2C+1960-1962"><strong>Twenty-Second Communist Party Congress Posters Series</strong></a> (14 items)<br/>
    Electioneering placards from the 22nd Congress of the Communist Party (1961) graphically illustrate N. S. Khrushchev's promise to catch up and overtake the capitalist countries by 1980. The visual presentation of statistical data demonstrates the strength of the country in industrial development, consumer goods, agricultural production, electrification, and the national welfare, and the collapse of the colonial system of imperialism and the problems facing capitalism.<br/></li>
      <li><a href="http://library.duke.edu/digitalcollections/russian-posters/?facet=Series%3DPerestroika+Era+Poster+series%2C+circa+1980-1989"><strong><em>Perestroika </em>Era Posters Series</strong></a> (23 items)<br/>
    An assemblage of posters from the 1980s contains poignant reminders of the promises and perils of the period of "restructuring" (<em>perestroika</em>) and "openness" (<em>glasnost'</em>) under M. S. Gorbachev. Most of these posters were exhibited in Moscow in 1988, just three years before the break-up of the Soviet Union.&nbsp; Ten reproductions are in their own exhibit folder. One poster from an anti-alcoholism campaign unrelated to the exhibit but from the same period closes the series.<br/></li>
    </ul>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
