<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <h2>About Ration Coupons on the Home Front</h2>

    <p>During World War II, the United States government instituted mandatory rationing of many items, including fuel, gasoline, food, tires, cars, stoves, and footwear. Rationing created a bureaucratic paper trail in various formats, which included coupons, booklets, certificates, and stamps.</p>
    
    <p>The World War II Ration Coupon collection consists of ration coupons, stickers and certificates for tires, bicycles, typewriters, sugar, shoes, fuel oil, gasoline, and food which were issued by the Office of Price Administration from 1942-1945.</p>

    <h2>History &amp; Context</h2>


    <h3 id="note">Historical Note</h3>

    <p>The Office of Price Administration (OPA) expanded to include regulation of
    production and commodity distribution in 1942, when United States officially entered
    the Second World War. Initially the agency anticipated shortages of essential war
    materials such as rubber, gasoline, sugar and manufacturing capacity. Rationing grew
    to include food and fuel. Most commodities where removed from rationing by the end of
    1945. The exception was sugar, which continued to be rationed into 1947.</p>

    <h3 id="chronology">Chronology</h2>

    <dl>
      <dt>December 27, 1941</dt>
      <dd>Tire rationing begins, per Ration Order #1.</dd>

      <dt>January 1, 1942</dt>
      <dd>Automobile rationing begins, per Ration Order #2.</dd>

      <dt>March 13, 1942</dt>
      <dd>Used typewriter rationing begins, per Ration Order #4. It is replaced by Ration
      Order #4A on December 28, 1942.</dd>

      <dt>April 21, 1942</dt>
      <dd>Sugar rationing begins, per Ration Order #3.</dd>

      <dt>May 11, 1942</dt>
      <dd>Gasoline rationing begins, per Ration Order #5.</dd>

      <dt>May 15, 1942</dt>
      <dd>Bicycle rationing begins, per Ration Order #7.</dd>

      <dt>September, 29 1942</dt>
      <dd>Footware (rubber) rationing begins, per Ration Order #6.</dd>

      <dt>October 22, 1942</dt>
      <dd>Fuel oil rationing begins, per Ration Order #11.</dd>

      <dt>December 19, 1942</dt>
      <dd>Heating stove rationing begins, per Ration Order #9.</dd>
    </dl>

    <h2 id="zones">Thermal Zones</h2>

    <p>Using weather and temperature data, OPA established thermal zones to account for
    the regional needs for heat, and therefore fuel, along the Eastern seaboard of the
    United States. Zones, therefore, were established along climatological rather than
    geographic lines.</p>

    <h3 id="zone-a">Table 1. Zone A</h3>

    <table class="table">
      <thead>
        <tr>
          <th>State</th>
          <th>Counties</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Maine</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>New Hampshire</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Vermont</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Michigan</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Wisconsin</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Minnesota</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>North Dakota</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>South Dakota</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Upper New York</td>
          <td>Clinton, Essex, Franklin, Fulton, Hamilton, Herkimer,
          Jefferson, Lewis, Montgomery, Oneida, Otsego, St. Lawrence, Saratoga, Warren,
          Washington</td>
        </tr>

        <tr>
          <td>Iowa</td>
          <td>Allamakee, Cerro Gordo, Chickasaw, Clay, Dickinson, Emmet,
          Floyd, Hancock, Howard, Kossuth, Lyon, Mitchell, O'Brien, Osceola, Palo Alto,
          Sioux, Winnebago, Winneshiek, Worth</td>
        </tr>
      </tbody>
    </table>

    <h3 id="zone-b">Table 2. Zone B</h3>

    <table class="table">
      <thead>
        <tr>
          <th>State</th>

          <th>Counties</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Massachusetts</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Rhode Island</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Connecticut</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>New Jersey</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Pennsylvania</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Nebraska</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>New York</td>
          <td>Albany, Alleghany, Bronx, Broome, Cattaraugus, Cayuga,
          Chautauqua, Chemung, Chenango, Columbia, Cortland, Delaware, Dutchess, Erie,
          Genesee, Greene, Kings, Livingston, Madison, Monroe, Nassau, New York, Niagara,
          Onondaga, Ontario, Orange, Orleans, Oswego, Putnam, Queens, Rensselaer,
          Richmond, Rockland, Schenectady, Schoharie, Schuyler, Seneca, Steuben, Suffolk,
          Sullivan, Tioga, Tompkins, Ulster, Wayne, Westchester, Wyoming, Yates</td>
        </tr>

        <tr>
          <td>Ohio</td>
          <td>Allen, Ashland, Ashtabula, Auglaize, Belmont, Carroll,
          Champaign, Clark, Clinton, Columbiana, Coshocton, Crawford, Cuyahoga, Darke,
          Defiance, Delaware, Erie, Fairfield, Fayette, Franklin, Fulton, Geauga, Greene,
          Guernsey, Hancock, Hardin, Harrison, Henry, Hocking, Holmes, Huron, Jefferson,
          Knox, Lake, Licking, Logan, Lorain, Lucas, Madison, Mahoning, Marion, Medina,
          Mercer, Miami, Montgomery, Morgan, Morrow, Muskingum, Noble, Ottawa, Paulding,
          Perry, Pickaway, Portage, Prebble, Putnam, Richland, Sandusky, Seneca, Shelby,
          Stark, Summit, Trumbull, Tuscarawas, Union, Van Wert, Wayne, Williams, Wood,
          Wyandot</td>
        </tr>

        <tr>
          <td>Indiana</td>
          <td>Adams, Allen, Benton, Blackford, Boone, Carroll, Cass,
          Clinton, De Kalb, Delaware, Elkhart, Fayette, Fountain, Fulton, Grant,
          Hamilton, Hancock, Hendricks, Henry, Howard, Huntington, Jasper, Jay,
          Kosciusko, Lagrange, lake, La Porte, Madison, Marion, Marshall, Miami,
          Montgomery, Newton, Noble, Parke, Porter, Pulaski, Putnam, Randolph, Rush, St.
          Joseph, Starke, Steuben, Tippecanoe, Tipton, Union, Vermillion, Wabash, Warren,
          Wayne, Wells, White, Witley</td>
        </tr>

        <tr>
          <td>Illinois</td>
          <td>Adams, Boone, Brown, Bureau, Carroll, Cass, Champaign,
          Christian, Coles, Cook, De Kalb, De Witt, Douglas, Du Page, Edgar, Ford,
          Fulton, Grundy, Hancock, Henderson, Henry, Iroquois, Jo Daviess, Kane,
          Kankakee, Kendall, Knox, Lake, La Salle, Lee, Livingston, Logan, Mcdonough,
          McHenry, McLean, Macon, Marshall, Mason, Menard, Mercer, Morgan, Moultrie,
          Ogle, Peoria, Piatt, Pike, Putnam, Rock Island, Sangamon, Schuyler, Scott,
          Shelby, Stark, Stephenson, Tazewell, Vermilion, Warren, Whiteside, Will,
          Winnebago, Woodford</td>
        </tr>

        <tr>
          <td>Iowa</td>
          <td>Adair, Adams, Appanoose, Audubon, Benton, Black Hawk, Boone,
          Bremer, Buchanan, Buena Vista, Butler, Calhoun, Carroll, Cass, Cedar, Cherokee,
          Clarke, Clayton, Clinton, Crawford, Dallas, Davis, Decatur, Delaware, Des
          Moines, Dubuque, Fayette, Franklin, Fremont, Greene, Grundy, Guthrie, Hamilton,
          Hardin, Harrison, Henry, Humboldt, Ida, Iowa, Jakcson, Jasper, Jefferson,
          Johnson, Jones, Keokuk, Lee, Linn, Louisa, Lucas, Madison, Mahaska, Marion,
          Marshall, Mills, Monona, Monroe, Montgomery, Muscatine, Pag, Plymouth,
          Pocahontas, Polk, Pottawattamie, Poweshiek, Ringgold, Sac, Scott, Shelby,
          Story, Tama, Taylor, Union, Van Buren, Wapello, Warren, Washington, Wayne,
          Webster, Woodbury, Wright</td>
        </tr>

        <tr>
          <td>Missouri</td>
          <td>Adair, Andrew, Atchison, Buchanan, Caldwell, Chriton, Clark,
          Clinton, Daviess, De Kalb, Bentry, Grundy, Harrison, Holt, Knox, Lewis, Linn,
          Livingston, Macon, Marion, Mercer, Monroe, Nodaway, Pike, Putnam, Ralls,
          Randolph, Schuyler, Scotland, Shelby, Sullivan, Worth</td>
        </tr>

        <tr>
          <td>Kansas</td>
          <td>Atchison, Brown, Cheyenne, Clay, Cloud, Dectur, Doniphan,
          Ellis, Gove, Graham, Greeley, Jackson, Jewell, Lane, Logan, Marshall, Mitchell,
          Nemaha, Norton, Osborne, Phillips, Pottawatomie, Rawlins, Republic, Riley,
          Rooks, Scott, Shawnee, Sheridan, Sherman, Smith, Thomas, Trego, Wabaunsee,
          Wallace, Washington, Wichita</td>
        </tr>
      </tbody>
    </table>

    <h3 id="zone-c">Table 3. Zone C</h3>

    <table class="table">
      <thead>
        <tr>
          <th>State</th>
          <th>Counties</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Delaware</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Maryland</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>District of Columbia</td>
          <td>-</td>
        </tr>

        <tr>
          <td>Virginia</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>West Virginia</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Kentucky</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Ohio</td>
          <td>Adams, Athens, Brown, Butler, Clermont, Gallia, Hamilton,
          Highland, Jackson, Lawrence, Meigs, Monroe, Pike, Ross, Scioto, Vinton, Warren,
          Washington</td>
        </tr>

        <tr>
          <td>Indiana</td>
          <td>Bartholomew, Brown, Clark, Clay, Crawford, Daviess, Dearborn,
          Decatur, Dubois, Floyd, Franklin, Gibson, Greene, Harrison, Jackson, Jefferson,
          Jennings, Johnson, Knox, Lawrence, Martin, Monroe, Morgan, Ohio, Orange, Owen,
          Perry, Pike, Posey, Ripley, Scott, Shelby, Spencer, Sullivan, Swotzer;amd,
          Vanderburgh, Vigo, Warrick, Washington</td>
        </tr>

        <tr>
          <td>Illinois</td>
          <td>Alexander, Bond, Calhoun, Clark, Clay, Clinton, Crawford,
          Cumberland, Edwards, Effingham, Fayette, Franklin, Gallatin, Greene, Hamilton,
          Hardin, Jackson, Jasper, Jefferson, Jersey, Johnson, Lawrence, Macoupin,
          Madison, Marion, Massac, Monroe, Montgomery, Perry, Pope, Pulaski, Randolph,
          Richland,St. Clair, Saline, Union, Wabash, Washington, Wayne, White,
          Williamson</td>
        </tr>

        <tr>
          <td>Missouri</td>
          <td>Audrain, Barry, Barton, Bates, Banton, Bollinger, Boone,
          Butler, Callaway, Camden, Cape Girardeau, Carroll, Carter, Cass, Cedar,
          Christian, Clay, Cole, Cooper, Crawford, Dade, Dallas, Dent, Douglas, Dunklin,
          Franklin, Gasconade, Greene, Henry, Hickory, Howard, Howell, Iron, Jackson,
          Jasper, Jefferson, Johnson, Laclede, Lafayette, Lawrence, Lincoln, McDonald,
          Madison, Maries, Miller, Mississippi, Moniteau, Montgomery, Morgan, New Madrid,
          Newton, Oregon, Osage, Ozark, Pemiscot, Perry, Pettis, Phelps, Platte, Polk,
          Pulaski, Ray, Reynolds, Ripley, St. Charles, St. Clair, St. Francois, St.
          Louis, St. Louis City, Ste. Genevieve, Saline, Scott, Shannon, Stoddard, Stone,
          Taney, Texas, Vernon, Warren, Washington, Wayne, Webster, Wright</td>
        </tr>

        <tr>
          <td>Kansas</td>
          <td>Allen, Anderson, Barber, Barton, Bourbon, Butler, Chase,
          Chautauqua, Cherokee, Clark, Coffee, Comanche, Cowley, Crawford, Dickinson,
          Douglas, Edwards, Elk, Ellsworth, Finney, Ford, Franklin, Geary, Grant, Gray,
          Greenwood, Hamilton, Harper, Harvey, Haskell, Hodgeman, Jefferson, Johnson,
          Kearny, Kingman, Kiowa, Labette, Leavenworth, Lincoln, Linn, Lyon, McPherson,
          Marion, Meade, Miami, Montgomery, Morris, Morton, Neosho, Ness, Osage, Ottawa,
          Pawnee, Pratt, Reno, Rice, Rush, Russell, Saline, Sedgwick, Seward, Stafford,
          Stanton, Stevens, Sumner, Wilson, Woodson, Wyandotte</td>
        </tr>
      </tbody>
    </table>

    <h3 id="zone-d" name="zone-d">Table 4. Zone D</h3>

    <table class="table">
      <thead>
        <tr>
          <th>State</th>
          <th>Counties</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>North Carolina</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>South Carolina</td>
          <td>all counties</td>
        </tr>

        <tr>
          <td>Georgia</td>
          <td>all counties</td>
        </tr>
      </tbody>
    </table>


    <h2>Related Material</h2>

    <ul>
      <li><a href="http://memory.loc.gov/ammem/fsowhome.html">America from the Great
      Depression to World War II: Photographs from the FSA-OWI , 1935-1945</a><br />
      The Library of Congress</li>

      <li>Federal Reserve Bank of Atlanta. Records, 1917-1945 [manuscript].<br />
      Rubenstein Library, Duke University, Collection No. 1776.</li>

      <li><a href="http://www.loc.gov/exhibits/treasures/homefront-home.html">From the
      Home Front and the Front Lines</a><br />
      The Library of Congress</li>

      <li><a href="http://worldwar2.smu.edu/">Historic Government Publications from World
      War II: a Digital Library</a><br />
      Southern Methodist University</li>

      <li><a href="http://digital.lib.umn.edu/warposters/warpost.html">"A Summons to
      Comradeship": World War I and II Posters and Postcards</a><br />
      The University of Minnesota</li>

      <li><a href=
      "http://www.library.northwestern.edu/govpub/collections/wwii-posters/">World War II
      Poster Collection</a><br />
      Northwestern University</li>
    </ul>

    <h3>Bibliography</h3>

    <ul>
      <li>Blackburn, William. <em>The Architecture of Duke University</em>. Durham: Duke
      University Press, 1936.</li>

      <li>Carter, Kent. "Total War: The Federal Government and the Home Front." Prologue
      23, no. 3 (1991): 224.</li>

      <li>Heath, Jim F. "Domestic America During World War II: Research Opportunities for
      Historians." <em>Journal of American History</em> 58, no. 2 (1971): 384.</li>

      <li>Henderson, Leon Corp Author United States, and Administration Office of Price.
      <em>Preview of Life in '43.</em> Washington, D.C.: U.S. G.P.O., 1942.</li>

      <li>Lewis, Tab. "From Free Market to Command Economy: A Study of Typewriter
      Rationing." <em>Prologue 23</em> , no. 3 (1991): 297.</li>

      <li>Lingeman, Richard R. <em>Don't You Know There's a War On? The American Home
      Front, 1941-1945.</em> New York,: Putnam, 1970.</li>

      <li>Rooker, Oliver E. "Supplying the Civilians: A Photo Essay of World War Ii
      Ration Stamps." <em>Chronicles of Oklahoma 69</em> , no. 4 (1991): 430.</li>

      <li>United, States, and Budget Bureau of the. <em>The United States at War;
      Development and Administration of the War Program by the Federal Government
      Franklin D. Roosevelt and the Era of the New Deal.</em> New York,: Da Capo Press,
      1972.</li>

      <li>United, States, Office of Price Administration. <em>Emergency Plan for Gasoline
      Rationing. Official Information and Instructions for Those Who Will Carry out the
      Plan.</em> Washington,: U.S. Govt. Print. Off., 1942.</li>

      <li>________. <em>Gasoline Rationing Instructions, July 1942.</em> Washington,: U. S.
      Govt. print. off., 1942.</li>

      <li>________. <em>OPA Service, Price Control, Rationing, Rent : Interpretations,
      Regulations, Schedules, Opinions, Forms.</em> [Washington,, 1942.</li>

      <li>________. <em>Rationing, Why and How.</em> Washington, D.C.,: Office of Price
      Administration, 1942.</li>

      <li>________. <em>Rationing in World War II.</em> Washington: U.S. Govt. Print.Off.,
      1946.</li>

      <li>United, States, Office of Price Reduction. <em>Fuel Oil Rationing, General
      Instructions.</em> [Washington,: U. S. Govt. print. off., 1942.</li>

      <li>United, States, Office of War Information. <em>Facts About Wartime Gasoline. A
      Summary of a Comprehensive Report.</em> [Atlanta?, Ga.,, 1943.</li>
    </ul>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
