<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>

<div id="content" class="col-md-9 col-sm-8">
  <!-- Nav tabs -->

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#about-english" role="tab" data-toggle=
    "tab">English</a></li>
    <li><a href="#about-espanol" role="tab" data-toggle="tab">Español</a></li>
    <li><a href="#about-hebrew" role="tab" data-toggle="tab">עברית</a></li>

  </ul><!-- Tab panes -->

  <div class="tab-content">
    <div class="tab-pane active" id="about-english">
      <h2>About the Marshall T. Meyer Papers Collection</h2>

      <p>This digital collection documents the human rights activism of the Rabbi Marshall
      T. Meyer in 1970s and 1980s Argentina. The collection consists of
      the correspondence, project files, subject files, publications, and other documents
      contained in the <em>Argentina subseries</em> of the <em>Geographic series</em> of
      the <a title="Marshall T. Meyer papers" href=
      "http://library.duke.edu/rubenstein/findingaids/meyermarshall/" target=
      "_blank">Marshall T. Meyer papers</a>
      held at Duke University's David M. Rubenstein Rare Book &amp; Manuscript Library.</p>

      <p>Marshall Meyer was an activist rabbi who expounded a politically engaged
      Conservative Judaism. Meyer received his education from Dartmouth and the Jewish
      Theological Seminary of America. After being ordained rabbi in 1958, Meyer and his
      wife moved to Buenos Aires, Argentina, in 1959, where they were to stay until
      1984.</p>

      <p>As provost of the Seminario Rabinico Latinoamericano and as rabbi of Comunidad Bet
      El, Meyer led the reinvigoration of Argentina's Jewish community. He also lived and
      fought through the political upheavals and turmoil of the 1970s and 1980s, openly
      speaking out against the human rights abuses perpetrated under the rule of the
      military junta, and visiting and attempting to secure the release of prisoners who
      were unlawfully incarcerated. Meyer was instrumental in negotiating the release of
      Jacobo Timerman, who later dedicated his work, <em>Prisoner Without a Name, Cell
      Without a Number</em>, to Meyer. After the return of democracy to Argentina in 1983,
      Argentine President Raul Alfonsin recruited Meyer to serve on the National Commission
      on the Disappearance of Persons (CONADEP in Spanish), which led a national
      investigation to establish the extent of the abuses suffered under the military
      junta.</p>

      <p>Meyer returned to the United States in 1984 and took over the helm of congregation
      B'nai Jeshurun, reviving the decaying New York City synagogue and transforming it
      into a dynamic center for Judaism in the United States. Meyer advocated for
      inter-religious dialogue and peace efforts, the plight of marginalized groups within
      the United States, against human rights abuses in Central America (El Salvador,
      Nicaragua, and Guatemala), and for peace and respect for human rights in Israel and
      Palestine.</p>

      <h2 id="copyright">Copyright and Citation</h2>
      <p>The materials in this collection are
      made available for use in research, teaching and private study. Texts and images from
      this collection may not be used for any commercial purpose without prior permission
      from Duke University.</p>

      <h2>Preferred Citation</h2>
      <p>[Identification of item], <em>Marshall T.
      Meyer Papers Digital Collection</em>, Human Rights Archive, Duke University
      Libraries.</p>

    </div>

    <div class="tab-pane" id="about-espanol">

      <p>Esta colección digital, documenta la actividad del rabino Marshall T. Meyer en el campo de los derechos humanos durante las décadas de los 70 y 80 en Argentina.  La colección está compuesta por su correspondencia, archivos de proyectos, carpetas temáticas, publicaciones, y otros documentos contenidos en la subserie  sobre Argentina, que forma parte de los documentos de la serie geográfica de Marshall T. Meyer  que se encuentran en la Colección de Libros Raros, Manuscritos y Colecciones Especiales de Duke University. Marshall Meyer fue un rabino progresista quien a través de su activismo político  impulsó y fortaleció al judaísmo conservador. Meyer se educó en Dartmouth College (Hanover, New Hampshire, EEUU)  y en el Seminario Judío  Teológico de América (Nueva York). Al año siguiente  de su ordenación como rabino en 1958, Meyer y su esposa se trasladaron a Buenos Aires,donde permanecieron hasta 1984.</p>
      <p>Como director del Seminario Rabínico Latinoamericano y rabino de la Comunidad Bet El, Meyer lideró la revitalización de la comunidad judía de Argentina.  Meyer luchó durante  los agitados y turbulentos  años  70 y comienzos de los 80, contra  los abusos a los derechos humanos perpetrados por  la junta militar. Meyer  visitó a presos políticos en distintas cárceles abogando por su liberación.  Meyer  fue un actor fundamental en las negociaciones para liberar a Jacobo Timerman, quien posteriormente le dedicó su libro, Preso sin nombre, celda sin número.  Luego del retorno a la democracia en Argentina en 1983, el presidente argentino Raúl Alfonsín, nombró a Meyer como miembro de la Comisión Nacional sobre la Desaparición de Personas (CONADEP), la cual lideró una investigación nacional para establecer a que punto llegaron los abusos sufridos bajo la junta militar.</p>
      <p>Meyer regresó a los Estados Unidos en 1984, primero a Los Angeles y luego pasó a  conducir de la congregación B'nai Jesurún en Nueva York, reactivando la sinagoga y transformándola en un centro dinámico para el judaísmo en los Estados Unidos.  Meyer  abogó por diálogos inter-religiosos,  por la paz, la situación de grupos marginados dentro de los Estados Unidos, contra los abusos a los derechos humanos en Centroamérica (El Salvador, Nicaragua y Guatemala), y por la paz y el respeto a los derechos humanos en Israel y Palestina.</p>
      
      <h2>Derechos de Reproducción y Mención</h2>
      <p>Los materiales de esta colección están disponibles para investigadores y educadores. Los textos e imágenes no  pueden ser utilizados con un fin comercial sin obtener un permiso previo de Duke University.</p>

      <h2>Mención Recomendada</h2>
      <p>[Identificación de pieza], Marshall Meyer Papers Digital Collection, Human Rights Archive, Duke University Libraries.</p>
    </div>

    <div class="tab-pane" id="about-hebrew" dir="rtl" lang="he">
      <h2>
אודות האוסף
      </h2>
      <p>
האוסף הדיגיטאלי מתעד את פעילותו של הרב מרשל תיאודור מאייר בתחום זכויות האדם בארגנטינה בשנות השבעים והשמונים של המאה העשרים. האוסף מכיל התכתבויות, תיקי פרויקטים, תיקי נושאים, פרסומים ומסמכים אחרים השייכים לתת-הסידרה ארגנטינה, מתוך הסדרה הגיאוגרפית של מסמכי מרשל ת. מאייר שבספרית הספרים הנדירים, כתבי היד, והאוספים המיוחדים של אוניברסיטת דיוק.
      </p>
      <p>
מרשל מאייר היה רב פרוגרסיבי ופעיל שבטא יהדות מסורתית ומעורבת פוליטית.  הוא קיבל את חינוכו במכללת דארתמות' ובבית המדרש לרבנים באמריקה.  לאחר הסמכתו  כרב בשנת 1958, עברו מרשל מאייר ורעייתו לבואנוס איירס, ארגנטינה, שם התגוררו משנת  1959 ועד לשנת 1984.  כרקטור הסמינר הרבני של אמריקה הלטינית וכרב קהילת בית אל בבואנוס איירס, הוביל הרב מאייר  את התחדשות הקהילה היהודית בארגנטינה.  בתקופת הזעזועים הפוליטיים ומשטר הדכוי בארגנטינה של שנות השבעים והשמונים, יצא הרב מאייר למאבק גלוי נגד הפגיעות בזכויות האדם שבוצעו על ידי הכת הצבאית השלטת.  הוא ביקר עצורים ופעל למען שחרורם של  אלה שנאסרו שלא כחוק.  מרשל מאייר מילא תפקיד חיוני במשא ומתן על שחרורו של יעקב טימרמן, שמאוחר יותר הקדיש את ספרו  "אסיר ללא שם, תא ללא מספר" למאייר.  לאחר חידוש השלטון הדמוקרטי בארגנטינה בשנת 1983 גייס נשיא ארגנטינה, ראול אלפונסין, את מאייר לשרת בועדה הלאומית להעלמות אנשים, שהובילה את החקירה הממלכתית  לקביעת היקף הפשעים שנגרמו תחת שלטונה של הכת הצבאית.   
      </p>
      <p>
מרשל ת. מאייר חזר לארצות הברית בשנת 1984 ולקח על עצמו את הנהגת קהילת בני ישורון בניו-יורק שהיתה בתהליכי שקיעה.  מאייר פעל לחידוש חיי הקהילה הותיקה והפך את בית הכנסת למרכז שוקק וחשוב של יהדות ארצות הברית.  הרב מאייר פעל למען דיאלוג בין זרמים שונים ביהדות, דיאלוג בין-דתי, מאמצי שלום, שיפור  מצבן של קבוצות שוליים בארצות הברית, נגד פגיעה בזכויות האדם באמריקה המרכזית (אל סלבדור, ניקרגואה וגוואטמלה )  ולמען שלום וכיבוד זכויות האדם בישראל ובפלסטין.
      </p>

      <h2>
זכויות יוצרים וציון המקור
      </h2>
      <p>
החומרים באוסף זה מותרים לשימוש לצרכי מחקר, הוראה ולימוד פרטי.  אסור להשתמש בטקסטים ובתמונות מתוך האוסף לכל מטרה מסחרית ללא הסכמה מראש מאת אניברסיטת דיוק.
      </p>

      <h2>
ציון המקור
      </h2>

      <p>
        במקרה של שימוש בחומר יש לציין את מקורו כדלקמן:
        [זיהוי הפריט] האוסף הדיגיטלי של מסמכי מרשל ת. מאייר, הארכיון לזכויות האדם, ספריות אוניברסיטת דיוק.
      </p>
    </div>

  </div>
</div>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'shared/about_sidebar' %>
</div>
<% end %>
