<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <h2>About the Women's Travel Diaries Collection</h2>

    <p>The diaries in this digital collection were written by British and American women who documented their travels to places around the globe, including India, the West Indies, countries in Europe, Africa, and the Middle East, as well as around the United States.  There are over 100 diaries of varying length, selected from the following archival collections at the David M. Rubenstein Rare Book &amp; Manuscript Library at Duke University:</p>

    <h2>Diaries</h2>
    <!-- TO-DO: add links to browse these finding aids & groups -->

    <h3>Mary McCornack Thompson papers, 1887-1962</h3>
    <p>Mary McCornack Thompson (1858-1936) and her husband, William L. Thompson were Presbyterian missionaries in Africa for 40 years. They made five journeys to Africa: May 17, 1889-?; April 24, 1901-Sept. 24, 1910; April 15, 1911-July 4, 1917; Jan. 16, 1919-June 6, 1925; and Sept. 11, 1926-June 28, 1932. The Mary McCornack Thompson Diaries date from 1887 to 1962 and are arranged into two series: Diaries and Correspondence. The bulk of the collection consists of 90 journals that contain detailed accounts of Mary McCornack Thompson's work as a Presbyterian missionary and teacher with the American Board of Commissioners for Foreign Missions in South Africa. During her 43 years as a missionary Thompson worked briefly at the mission station at Esidumbi in South Africa, but she spent most of her time at the Mount Silinda mission in the Melsetter region of Rhodesia (Zimbabwe). In the diaries, Thompson wrote of her daily activities as a missionary, including building and expanding the mission, encounters with locals, learning Zulu, wildlife, meeting other missionaries, teaching and praying. These detailed entries offer a glimpse into the social conditions, race relations, and native cultures of various South African regions. Thompson also recounts her many travels throughout Africa, Europe, Asia, the United States, and Canada.</p>

    <h3>Mary McMillan journals series</h3>
    <p>43 journals maintained by McMillan during her time in Hiroshima and her retirement, documenting in great detail her daily life and work as well as her travels throughout East Asia. She also noted her thoughts and concerns about world events and her peace activism. Many entries describe visits by her students and friends in Japan and provide a revealing look at Japanese social life and customs. The journals are arranged chronologically. Many small groups of loose materials were found laid into the beginning or end of the journals; these were removed and placed in a separate folder following the journal; some of these items appear to be unrelated to the journals in which they were found. </p>

    <h3>Martha Foster Crawford diaries, 1846-1881</h3>
    <p>Martha (Foster) Crawford kept diaries throughout her life,  as a young woman in Alabama, 1845-1851, and later as a Baptist missionary to China. She wrote about conditions in Shanghai from 1852 to 1864 and afterwards at Tengchow, Shantung, and her reactions to the Civil War in the United States. Her diary shows the impact of the American Protestant missionary on China with a day-by-day record of her life. The Shanghai period covers the Taiping rebellion and discusses the hope that the rebellion might furnish a means for converting the Empire to Christianity.</p>

    <h3>Harriet Sanderson Stewart diaries, 1906-1911- 2nd 63 D</h3>
    <p>Three diaries written by affluent British woman traveling with her father. Ms. Stewart recorded her impressions of people and events aboard ships as well as describing accommodations, entertainments, plants, and ways of life in the places she visited. In "Westward Wanderings,1906-1907 " (2 v.), she described her travels in the West Indies, Canada, and the United States (New York City, Boston, and Washington D.C.). Volume I includes a description of the 1907 earthquake in Jamaica. In both volumes Ms. Stewart wrote of her impressions of Black West Indians and her interactions with them. "Eastern Impressions,1907-1908 " (2 v.) documents her journey through Sri Lanka, India, Burma, and North Africa. A third diary, "Scenes from Southern Spain" (1 v.), was written during 1911. Entries are illustrated with numerous watercolors and photographs (including cyanotypes and albumen prints) by Stewart, as well as clippings, postcards, maps, menus, and dried flora.</p>

    <h3>Mary C. Parks, Journals, 1827-1878- 2nd 83: G : Journals (1827-July-1832 Jan. 20)</h3>
    <p>Diary entries and extracts from letters, written principally while the author was travelling with family and friends in France, Switzerland, and Germany between July and October, 1827. The bulk of the entries are written from Paris and include an account of a meeting with a group of Osage Indians that were visiting there. Other entries describe the local landscape, history, folklore, and customs of the various places visited. There are numerous color and pencil drawings that illustrate the text.</p>

    <h3>Lady Cecelia Feilding Diary, 1885-1886- Sec A</h3>
    <p>Diary(350 p.) and typed transcript describing a voyage to India and the social and religious life of a British Army officer's wife near Poona. Lady Feilding's description of the voyage aboard the troopship CROCODILE includes the bad conditions as well as entertainment on ship. En route to India they stopped at Malta, Port Said, Suez, and the Red Sea, and then went on to Bombay, Kirkee, and Poona. </p>

    <h3>North India- Sec A : Diary, 1861-1865. 1 vol. (300 p.)</h3>
    <p>Account of life in camp and traveling while stationed in North India and modern-day Pakistan by an unidentified wife of a British Army officer, detailing the day-to-day life in both garrison and in traveling. The first entry begins in Meean Meer (or Mian Mir), a former large British cantonment in Pakistan. Officers and families traveled to locations including Islamabad, Kashmir, Aliabad, and Pindi Gheb. Illustrated with sketches</p> 

    <h3>Eliza Wilson - Sec A</h3>
    <p>Entries describe the social life and travel of a British woman living in India with General Craigie, his wife, and daughters. They left England in November 1854, traveled by ship with stops in Egypt, and arrived in Madras in January 1855. The group lived in Madras but journeyed to other cities in southern India, including Bangalore, Mysore, and Vellore. There are references to the Sepoy Rebellion,1856-1858, before Wilson departed India in 1860.</p>

    <h3>Viscountess Emily Anne Beaufort Smyth Strangford - Sec A </h3>
    <p>Chiefly a journal of 141 pages (1859 Apr. 10-1860 July 7) describing a trip to Turkey and Lebanon, Apr.-Sept. 1859, and to Greece, May-July 1860. Beginning in Smyrna, Viscountess Strangford travelled to Rhodes, Mersin, Tripoli, Beirut, Baalbek, Athens, Attica, Pentelicus, Constantinople, and Belgrade. She described the locales, social life and customs of the Lebanese, a Druze wedding, and fighting between the Druzes and Christians. Included are drawings and other sheets laid in, including one in French, possibly by Marius Fontane. Also includes an albumen print of Viscountess Strangford.</p>

    <h3>West Indies Travel Diary, 1885 Feb. 2-Apr. 10- 2nd 64</h3> 
    <p>A (Sm. Brit. Vols., Box 1) Journal of unidentified young woman traveling with her father to the West Indies in1885. The author described her voyage; entertainment and social engagements in the West Indies (where she and her family were guests of the Governor, Sir Henry Norman); her observations of the people of the West Indies; and her return voyage to Plymouth.</p>

    <h3>American woman's travel diary, 1878. M: M:3459</h3>
    <p>The diary, begun on April 6, 1878, and ending on Nov. 9, 1878 in Augsburg, covers the travels of an American woman through England, France, Germany, Sweden, Norway, and Russia. Included are descriptions of visits to museums and royal palaces. While in Norway, the author met and spent time with Gen. and Mrs. Ulysses S. Grant. </p>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
