<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <h2>About the Digital Collection</h2>
    <div class="pull-right" style="margin: 0 0 1em 1.5em; width: 50%;">
      <%= image_tag("ddr-portals/dukechapel/dukechapel-pulpit.jpg", class: "img-responsive thumbnail", alt: "Duke Chapel pulpit") %>
    </div>
    
    <p>Located on Duke University’s West Campus, <a href="http://chapel.duke.edu">Duke Chapel</a> is as magnificent in structure as it is rich in ministry.</p>

    <p>Since its construction in the 1930s, the Chapel has remained a Christian church of uniquely interdenominational character and purpose. Through its tradition of inspiring worship and music, and a calling to walk with people of all faiths and circumstances, Duke Chapel stands as a beacon of hope, bridging faith and learning on campus in the community.</p>
    
    <p>One way the Chapel aims to bridge faith and learning is by offering sermons preached from its distinguished pulpit between 1946 and 2002. The Duke University Chapel Recordings Digital Collection consists of audio and video recordings drawn from a large collection held in the <a href="http://library.duke.edu/rubenstein/uarchives">Duke University Archives</a>. The digitized recordings were selected by Duke Chapel and <a href="https://divinity.duke.edu/">Divinity School</a> staff for their historic significance.</p>
 
    <p>In 2014, the <a href="http://www.lillyendowment.org/">Lilly Endowment, Inc.</a> generously provided funds to Duke University to expand the online collection that was published a year prior to highlight notable African American and female preachers. With this funding, over 1,300 additional video and audio recordings were digitized, as well as over 1,300 sermon manuscripts. Over the five-year period of the grant (ending December 2019), transcripts and closed captioning will be added to the collection, along with enhanced metadata to provide greater accessibility to sermon content.</p>

    <p>For their work on the creation of the initial digital collection, special thanks to the Rev. Dr. Charles Campbell, Professor of Homiletics at Duke Divinity School, the Rev. Dr. Luke Powery, Dean of Duke Chapel; the Rev. Dr. Fred Westbrook, C’Access Inc.; and Adrienne Koch, Communications Specialist, Duke Chapel and Project Director. Special thanks also to Duke Divinity graduate, Ben Vockery, who fully inventoried the collection of recordings in preparation for digitization.</p>

    <p>For their work on the Lilly Endowment phase of the collection, special thanks to the Rev. Drs. Luke Powery and Chuck Campbell, who spearheaded the grant; Jessica Serrao, University Archives intern, who coordinated the digitization phase; Divinity student, Katie Murchison Ross, who coordinated permissions; and Adrienne Koch, the project director of the transcription and metadata phases.</p>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
