<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <h2>About the Images of Mainline Protestant Children &amp; Families in the U.S. Collection</h2>

    <p>The collection includes digitized articles and advertising images of Protestant children and families in the U.S., within Protestant-supported or targeted magazines held in the <a href="http://library.duke.edu/divinity/">Duke University Divinity School Library</a>. This project follows two strains. First, we note the depiction of family size and health, article-related images and advertisements on scientific nutrition, and other images directly related to scientific progress and domesticity. The second strain is currently less fully developed, on the depiction of families in mission settings, in particular depictions of family life in the two-thirds world. These images are of interest for those teaching in North American religious history, gender and religion, health and religion, and bioethics.</p>
    
    <h3>Acknowledgements</h3>

    <p>The collection was co-sponsored by Dr. Amy Laura Hall and Andrew Keck, Duke Divinity School.</p>
    
    <p>We acknowledge the generous support of the <a href="http://www.atla.com/cdri_ob/">ATLA/ATS Cooperative Digital Resources Initiative</a> (CDRI), funded by the Luce Foundation and the Valparaiso <a href="http://childreligionethics.org">Child in Religion and Ethics Program</a>, funded by the Lilly Foundation in the digitization and description of these images. We also acknowledge the scanning and descriptive work of Sarah Sours, Jimmy St. Peter, Jennifer MacKenzie, and Jennifer Rogers.</p>
  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
