<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>

  <div id="content" class="col-md-9 col-sm-8">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#about-english" role="tab" data-toggle="tab">English</a></li>
      <li><a href="#about-chinese" role="tab" data-toggle="tab">中文</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane active" id="about-english">

        <h2>Sidney D. Gamble's Photographs</h2>

        <div class="col-md-5 pull-right">
          <div class="well">
<%= image_tag("ddr-portals/gamble/gamble_C_0054.jpg", class: "img-responsive thumbnail", alt: "Sidney Gamble") %>
            <div class="caption">
              <p>Sidney D. Gamble</p>
            </div>
          </div>
        </div>

        <p>Sidney D. Gamble (1890-1968), an avid amateur photographer, began taking pictures in China during his first trip to the country with his family in 1908. He returned three more times between 1917 to 1932 and continued photographing the daily life of Chinese citizens. A sociologist and renowned China scholar, he traveled throughout the country to collect data for social-economic surveys and to photograph urban and rural life, public events, architecture, religious statuary, and the countryside. Gamble used a few of the photographs from his extensive collection in his scholarly <a href="https://guides.library.duke.edu/Gamblephotos/research">publications</a> and in slide lectures, the majority of images were never published or exhibited during his lifetime.</p>

        <p>About fifteen years after Sidney Gamble’s death (in 1968), his daughter, Catherine Curran, found a trove of nitrate negatives in a closet in the family’s home in New York. Stored in beautiful rosewood boxes, the negatives were housed in individual paper sleeves, annotated with typed and handwritten captions. In 1986, Catherine Curran established the Sidney D. Gamble Foundation for China Studies to provide for preservation and access to the photographs. Gamble Foundation organized an exhibit in 1989 in New York. A review of the first exhibit catalog prompted the Duke University Libraries’ visual materials archivist to invite Ms. Curran to place Sidney Gamble’s photographs in the Libraries’ <a href="https://library.duke.edu/rubenstein/documentaryarts">Archive of Documentary Arts</a>. An agreement to bring the Gamble collection to Duke was signed in March 2006.</p>

        <p>Digitization of the Gamble collection began in October 2006 and continued through the spring of 2007. In addition to the photographs, the typed image labels were digitized and transformed into raw texts. This text became the foundation for the image captions and geographic headings in the Sidney D. Gamble Photographs digital collection.</p>

        <p>There are nearly 5000 black and white photographs and 600 colored slides and <a href="https://idn.duke.edu/ark:/87924/r4s75bf5w">a documentary film</a> in the collection. They represent an extraordinary contribution to the visual archive for an important period in Chinese history from which few images survive today. Through his education in the social sciences, Gamble brings to his photography an informed perspective that extends beyond the simple documentation of the passage to modernity. His intimate photographs of people in the midst of a transitioning society demonstrate a sensitivity to individual humanity and the phenomena of everyday life. This broad array of portraits of men and women engaged in the various activities of public life provide us with a glimpse of social change not as a mere institutional process, but as the lived experience of a diversity of people. There have been three major exhibitions, the <a href="https://guides.library.duke.edu/Gamblephotos/exhibits">first two</a> were organized by Gamble Foundation, the third and most recent <a href="https://sites.duke.edu/sidneygamble/">exhibit</a> was curated by Duke University Libraries in China.</p>

        <h2 id="copyright">Copyright and Permissions</h2>
        <p>In the course of acquisition Duke obtained rights to these materials. As of 2019, the underlying works entered the public domain in some jurisdictions, but are still protected in others, including the United States. To encourage reuse and avoid doubt, Duke hereby waives any intellectual property rights it retains in these materials under the terms of the CC0 waiver.  We encourage collaboration with publishers and others who wish to create works based on these materials. Please see <a href="https://library.duke.edu/rubenstein/research/citations-and-permissions">https://library.duke.edu/rubenstein/research/citations-and-permissions</a> for additional information.</p>
      </div>


      <div class="tab-pane" id="about-chinese">

        <h2>西德尼·D·甘博照片</h2>

        <div class="col-md-5 pull-right">
          <div class="well">
<%= image_tag("ddr-portals/gamble/gamble_C_0054.jpg", class: "img-responsive thumbnail", alt: ">西德尼·D·甘博照片") %>
            <div class="caption">
              <p>>西德尼·D·甘博照片</p>
            </div>
          </div>
        </div>

        <p>西德尼∙D∙甘博（1890年-1968年）是位醉心摄影艺术的业余摄影家。1908年甘博随父母第一次来到中国，拍摄有关这个国家的照片。随后在1917年到1932年间，他三次重返中国，拍摄了中国老百姓日常生活的大量照片。甘博是出名的社会学家和中国研究专家，他到过中国城乡的许多地方，收集有关社会经济生活的资料，并拍摄了大量的照片，反应了各地的日常和公共生活，建筑样式和宗教雕塑，以及田野风光。甘博拍摄的这些照片仅有及少量刊登在他自己的基本学术专著里。他在各地讲学时，也曾将一些照片制作成幻灯片向听众们展示。然而甘博生前，他拍摄的照片，绝大多数从未发表或者展出过。</p>

        <p>甘博去世后15年后，他的女儿凯瑟琳∙科伦机缘巧合地在纽约家中的阁楼上发现了这批硝酸底片。底片整齐地存放在漂亮的红木箱子里，每张底片单独放置在一个小纸袋中，袋子上有手写或者打印的简短的说明。1986年凯瑟琳∙科伦成立了西德尼∙D∙甘博中国研究基金会，以便更好地长期保存和使用这些照片。1989年甘博基金会在纽约举办了甘博照片展。这次展览吸引了杜克大学图书馆影像资料部的负责人。看过展览图册后，图书馆向科伦夫人发出邀请，希望甘博照片资料可以成为<a href="https://library.duke.edu/rubenstein/documentaryarts">图书馆纪录影像资料部</a>的收藏。2006年3月双方签署了同意书，让这批资料落户在杜克大学。照片的数字化工作开始于2006年10月，2007年春天结束。除了底片，被扫描的还有每张底片档案袋上打印的照片说明。这些说明文字为西德尼∙D∙甘博照片库里每张图片的内容以及地理位置提供了基本信息。</p>

<p>甘博照片数据库中有将近5000幅黑白照片，600幅彩色幻灯片以及一部<a href="https://idn.duke.edu/ark:/87924/r4s75bf5w">妙峰山朝圣的黑白纪录片</a>。这些照片为中国二十世纪初这一重要历史时期留下了珍贵的影像档案，这样丰富多彩的画面如今存世已不多。作为受过专业训练的社会学家，甘博的镜头不是简单冰冷的记录，他捕捉到了人们生活的各种鲜活场景，透漏出了他的人道关怀。镜头下的男男女女所展示的丰富画面显示出社会变化正渗透到日常的方方面面。目前为止已经有过过三次大型的甘博照片展，前<a href="https://guides.library.duke.edu/Gamblephotos/exhibits">两次展览</a>均由甘博基金会组织，最近一次的<a href="https://sites.duke.edu/sidneygamble/">展览</a>由杜克大学图书馆在中国举办，</p>

        <h2 id="copyright-chinese">版权与使用授权</h2>
          <p>全部资料落户杜克大学图书馆的过程中，杜克获得了这些资料的版权。截至2019年，这批资料在某些司法管辖区内已经进入公有领域，但在包括美国在内的其他司法管辖区仍受到版权保护。为鼓励这些资料重新使用并避免版权方面的疑虑，杜克根据CC0豁免条款的规定放弃这批材料的任何知识产权。我们鼓励与出版商和其他希望根据这些材料创作作品的人合作。更多详情请参考这里 <a href="https://library.duke.edu/rubenstein/research/citations-and-permissions">https://library.duke.edu/rubenstein/research/citations-and-permissions</a>。</p>

      </div>

    </div>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>

<% end %>
