<% cache("about_the_collection#{params[:collection]}", expires_in: 7.days) do %>
  <div id="content" class="col-md-9 col-sm-8">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
      <li><a href="#copyright-citation" role="tab" data-toggle="tab">Copyright &amp; Citation</a></li>
      <li><a href="#introduction" role="tab" data-toggle="tab">Introductory Essay</a></li>
      <li><a href="#acknowledgements" role="tab" data-toggle="tab">Acknowledgements</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="overview">
          <h1>About the Medicine &amp; Madison Avenue Collection</h1>

          <p>This website explores the complex relationships between modern medicine and
          modern advertising, or "Madison Avenue," as the latter is colloquially termed. The
          Medicine and Madison Avenue Project presents images and database information for
          approximately 600 health-related advertisements printed in newspapers and magazines.
          These ads illustrate the variety and evolution of marketing images from the 1910s
          through the 1950s. The collection represents a wide range of products such as cough
          and cold remedies, laxatives and indigestion aids, and vitamins and tonics, among
          others. In addition to the advertisements themselves, the MMA website includes
          historical material &mdash; non-graphical text-only documents &mdash; that put
          health-related advertising into a broader perspective.</p>

          <h2>Research Guide</h2>

          <p>Please consult our <a href="http://guides.library.duke.edu/mma">Research
          Guide</a> for Medicine and Madison Avenue.</p>

          <h2 id="citation">Preferred Citation</h2>

          <p>Medicine and Madison Avenue - Ad #MM0065<br />
          John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
          Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
          https://repository.duke.edu/dc/mma (date user accessed the source)</p>

          <p><a href="#copyright-citation">Read more...</a></p>

          <h2 id="copy">Copyright Information</h2>

          <p><em>Research, Teaching, Private Study, General Interest User
          Information:</em> The advertisements on this website have been made available for use
          in research, teaching, and private study. For these purposes under Fair Use, you may
          reproduce (print, make photocopies, or download) materials from this website without
          prior permission, on the condition that you provide proper attribution of the source
          in all copies. Although we don't require you to contact us in advance for these
          purposes, we do appreciate hearing from teachers, students, and researchers who are
          using our resources in interesting ways. (<a title="Copyright" href="#copyright-citation">
          more...</a>)</p>

          <p><strong>Disclaimer: This site includes historical materials that
          may contain negative stereotypes or language reflecting the culture or language of a
          particular period or place. These items are presented as part of the historical
          record.</strong></p>

      </div>
      <div class="tab-pane" id="acknowledgements">
        <h2 title="acknowledgements">Acknowledgments and
        history of the project</h2>

        <p>The Medicine and Madison Avenue Project was made possible through the
        encouragement of Lloyd Cotsen and the generous funding provided by the Ahmanson
        Foundation. The <a href="http://www.nhc.rtp.nc.us/">National Humanities Center</a>
        has undertaken this project in collaboration with the <a href=
        "http://library.duke.edu" title="Duke Library">Duke University Library</a> and the
        <a href="http://www.sunysb.edu/">State University of New York at Stony Brook</a>.</p>

        <p>In 2000, the National Humanities Center, through funding made available by the
        Ahmanson Foundation, initiated a grant program designed to encourage Fellows at the
        National Humanities Center to develop teaching materials based on their research
        projects. One of the recipients of that grant support was Nancy Tomes, who was the
        Burroughs Wellcome Fund Fellow in the History of Modern Medicine at the Center from
        1999 to 2000. MMA represents an outgrowth of Tomes's book in progress, "The Making of
        the Modern Health Consumer, 1900-1940," which looks at the impact of modern consumer
        culture on American medicine and public health. The Ahmanson Foundation/National
        Humanities Center grant made possible Tomes's collaboration with Ellen Gartrell,
        Director of the John W. Hartman Center for Sales, Advertising, and Marketing History
        at Duke University, and the staff of the Digital Scriptorium, who maintained Duke's
        extensive collection of digitized primary source materials. Drawing on their
        experience in developing<a href="https://repository.duke.edu/dc/adaccess"
        title="Ad*Access">Ad*Access</a> and the <a href=
        "https://repository.duke.edu/dc/eaa" title="EAA">Emergence of Advertising
        in America</a>, Gartrell and her colleagues at Duke supplied the archival,
        administrative, and technical skills to bring MMA to life.</p>

        <p>The following individuals worked together to create MMA:</p>
        <ul>
          <li>Nancy Tomes: Project Creator, SUNY at Stony Brook</li>
          <li>Amy Gangloff: Research Assistant, SUNY at Stony Brook</li>
          <li>Ellen Gartrell: Director, Hartman Center, Duke University Library</li>
          <li>Lynn Eaton: Project Leader, Duke University Library</li>
          <li>Paolo Mangiafico, Technical Advisor, Duke University Library</li>
          <li>Kristen Kramer, Project Manager, Duke University Library</li>
          <li>Ryan Denniston, Technical Assistant, Duke University Library</li>
          <li>Pablo Torres, Website Designer and Developer, Duke University Library</li>
        </ul>

        <p>The following consultants provided invaluable advice on the design and
        implementation of the MMA Project:</p>

        <ul>
          <li>Robert C. Allen, Ph.D., Department of American Studies, University of North
          Carolina at Chapel Hill</li>
          <li>Peter W. English, M.D., Ph.D., Departments of Pediatrics and History, Duke
          University</li>
        </ul>

      </div>
      <div class="tab-pane" id="introduction">
          <h2 title="introduction">Introduction to
          "Medicine and Madison Avenue"</h2>

          <p><em>Essay by Nancy Tomes, 2000</em></p>

          <p>Since the 1980s, American consumers have been exposed to an increasing number of
          commercial messages linking health promotion with specific products and services. In
          the wake of a landmark Federal Trade Commission ruling that took effect in 1982,
          hospitals and physicians now advertise much more extensively. Since 1997, the Food
          and Drug Administration has loosened restrictions on direct-to-consumer advertising
          of prescription drugs. Policy makers, health professionals, and health consumers are
          now weighing the positive versus the negative effects of these far-reaching changes
          (Tomes 2000).</p>

          <p>Medicine and Madison Avenue is designed to help users develop a deeper
          understanding of the issues involved in contemporary debates about health-related
          advertising. Although certain features of the current "health sell" are new, the
          underlying tensions surrounding the commercialization of medicine and health
          promotion have long historical roots. Many of our contemporary dilemmas concerning
          the advertising and marketing of health care products and services emerged in the
          first half of the twentieth century, as both modern medicine and modern advertising
          came to maturity. By looking at this more distant past, users will gain new
          perspectives on contemporary debates about the role of advertising as a form of
          consumer health information (Tomes 2001).</p>

          <p>Since the turn of the last century, advertisements have become an increasingly
          significant source of knowledge about health promotion and disease prevention. To be
          sure, their influence has by no means been absolute or uncontested. Ads compete with
          many other sources of information about health, including television, radio,
          newspapers, and magazines. Because of their commercial orientation, they often arouse
          resistance and skepticism in their hearers. But due to their creativity and
          pervasiveness, advertisements are particularly effective in gaining public attention
          to specific health problems. Thus their role in shaping popular health beliefs and
          behaviors deserves special attention.</p>

          <p>Studying historical advertisements can help today's health professionals to
          understand generational differences in health beliefs and behaviors. Today's senior
          citizens grew up in the 1920s and 1930s reading the kind of advertisements included
          in this database; likewise, the ads from the 1950s may linger on in the consciousness
          of the so-called baby boomers. Advertisements also provide a valuable record of the
          popularization of medical science. Since the early 1900s, they have been an
          influential (if not always entirely accurate) forum for explaining new discoveries
          about health and disease. For example, commercial messages played a key role in
          educating Americans about the role of germs in causing infectious diseases and the
          importance of vitamins in the diet (Tomes 1998; Apple, 1996).</p>

          <p>Of course, health-related advertisements long predate the twentieth century (For
          more on this earlier history, see <a href=
          "https://repository.duke.edu/dc/eaa" title="EAA">Emergence of Advertising
          in America (EAA)</a>). But for a variety of reasons, advertising became an
          increasingly important form of health information and persuasion around the turn of
          the last century. Its growing influence reflected the revolution in mass media that
          started in the last century. The so-called print revolution of the mid-to-late 1800s
          greatly cheapened the cost of paper manufacture and printing. The number of weekly
          and daily newspapers climbed dramatically; in 1910, at the peak of the print media's
          boom, newspaper publishers produced approximately 2,200 English-language dailies and
          14,000 weeklies (Sloan and Startt 1999, p. 282). During the same time period, the
          number of magazines published also grew dramatically. Between 1890 and 1905, magazine
          circulation in the United States tripled, to over 65,000 million, or three magazines
          for every four people (Schneirov, 1994, p. 5).</p>

          <p>This media revolution was financed by advertising. Publishers could lower the
          newsstand and subscription prices for newspapers and magazines because manufacturers
          were willing to pay to advertise in their pages. With the maturing of the industrial
          revolution, American manufacturers faced increasing outputs and declining prices. In
          order to make a profit, they had to expand the sales of their goods. Professional
          advertising flourished as companies eager to promote their goods and products paid to
          have agencies place advertisements in the pages of daily newspapers and mass
          circulation magazines (Pope 1983, Strasser 1989).</p>

          <p>Starting in the late 1800s, both the design and placement of advertisements became
          the work of professional advertising agencies (For more on the early history of
          advertising, see <a href="https://repository.duke.edu/dc/eaa" title=
          "EAA">Emergence of Advertising in America (EAA)</a> and&nbsp;<a href=
          "https://repository.duke.edu/dc/adaccess" title=
          "Ad*Access">Ad*Access</a>). At first these agencies simply bought space for
          advertisements in different print outlets. But soon agencies started to develop the
          advertisements themselves. Ads began to develop beyond simple text-dominated
          announcements of a good's availability and merits to more complex visual statements.
          The look of ads changed dramatically as technological improvements in lithography and
          other forms of reproduction made it possible to reproduce line drawings and later
          photographs. The work of producing an ad became increasingly complex. Agencies
          competed to win clients by developing the most impressive advertising campaign. This
          process involved a creative team who studied the product and its potential buyers and
          developed a selling "platform" or concept; copy writers and illustrators who
          translated that selling concept into an attractive combination of words and images;
          and a marketing team who planned to introduce the new campaign with suitable
          promotions, such as coupons and contests. Ad agencies grew up in Chicago, New York,
          and Philadelphia. Since many of the largest agencies were located on Madison Avenue
          in New York City, the term "Madison Avenue" became a colloquial (albeit
          geographically misleading) term for modern advertising as a whole (A list of works on
          the history of advertising is included in <a href="http://guides.library.duke.edu/mma" title=
          "Classroom use">Suggestions for Classroom Use</a>).</p>

          <p>From the outset, advertising professionals realized that appeals to health
          constituted a lucrative way to promote many products. Indeed, the patent medicine
          industry's spectacular successes in using new forms of advertising to promote sales
          helped to create the modern advertising industry. But starting in the late 1800s,
          advertising agencies sought to become more professional by repudiating the "snake
          oil" tactics of the patent medicine entrepreneurs (See Lears 1994). In place of the
          inflated claims used to promote patent remedies, they sought to make their
          advertising appeals more consistent with modern scientific methods and discoveries.
          The J. Walter Thompson Company became particularly well known for its use of
          scientific arguments in advertising. JWT account executives read medical journals to
          discover the latest findings about disease and conducted market research to discern
          popular health beliefs and fears. This new breed of health advertisement capitalized
          on the growing prestige of science and medicine during the early 1900s. The
          achievements of a new kind of laboratory-based science in the late nineteenth century
          greatly enhanced the authority of the medical profession. The experimental proof of
          the germ theory of disease led to dramatic changes in surgery and public health. New
          understandings of hormones, glandular function, and vitamins transformed conceptions
          of physiology and nutrition. Starting in the Progressive era (1890s to 1910s),
          American science and medicine enjoyed an unprecedented era of prestige (Starr 1982).
          Reflecting that prestige, advertisements began to include the symbols of modern
          medical science: white-gowned doctors and nurses, graphs and charts, microscopes and
          petri dishes filled with disease germs.</p>

          <p>The scientific claims made in historic advertisements reflect the state of medical
          knowledge in their times, not our own. Their veracity has to be evaluated in the
          context of scientific thinking at that time. Most mainstream manufacturers sought to
          stay with the general framework of accepted medical knowledge, knowing that if they
          did not, they were likely to get negative publicity and regulatory scrutiny. Various
          "watchdog" groups emerged in the early 1900s, both inside and outside the advertising
          industry, seeking to restrain unrealistic claims for health-related products (See
          <a href="timeline" title="Timeline">Timeline</a>). The Food and Drug Administration
          and the Federal Trade Commission had some power to enforce restraint in advertising
          claims. See Fleischmann's Yeast/ FTCcase documents:</p>

          <ul>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4th8c966" title=
            "Letter of complaint">Letter of complaint and reply</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4z89340z" title=
            "FTC complaint">FTC complaint against the Fleischman Company</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4vx06r6c" title=
            "FTC in the matter of">FTC in the matter of the Fleischman Company and Standard
            Brands Inc.</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4kp7vd9z" title=
            "FTC, Inc.">FTC, Interview with Hubert Prior (Rudy) Vallee</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4pr7nh22" title=
            "FTC, Interview">FTC, Interview with Mabel Kinneer</a></li>
          </ul>

          <p>The American Medical Association also sought to expose fraudulent
          advertising appeals. But many companies continued to "puff" their products as much as
          the law would allow.<p>

          <p>Advertising campaigns succeeded in large part because they appealed to a long
          tradition of popular interest in personal health and hygiene. Since colonial times,
          Americans have experimented with self medication and diet regimens to maximize their
          personal well being and counteract the stresses of everyday life. The rapid social
          and economic changes at the turn of the twentieth century only increased the appeal
          of health products and services. Building on the growing prestige of scientific
          medicine, ambitious public health crusades and school health programs made Americans
          increasingly health conscious. Voluntary health societies warned about the dangers of
          many diseases, including tuberculosis, syphilis, and cancer. Their work in
          publicizing the warning signals of dangerous disease helped lay the foundation for
          more aggressive marketing of over the counter drugs. Advertisements played up the
          dangers of the common cold as a precursor to more deadly respiratory infections; they
          also identified common symptoms such as constipation, indigestion, and nervousness,
          as potential warning signs of serious illness.</p>

          <p>The health sell by no means eclipsed other advertising strategies. Health
          arguments were often combined with representations of product use as a route to
          career success, personal popularity, and romance. Listerine, for example, had
          multiple selling platforms. Campaigns centered on germs and cold prevention would be
          scheduled for fall and winter months, that is, the traditional cold and flu season;
          at other times, Listerine ads emphasized its use as an aid to romance, popularity,
          and job success.</p>

          <p>When reading historic advertisements, modern viewers need to keep in mind that,
          then as now, readers' responses to health-related ads varied greatly. Marketing
          surveys in the interwar period suggest that many Americans simply tuned out
          advertising messages. Others may have responded to advertisers' arguments with
          amusement or skepticism. Still others, probably a minority of the whole, believed
          what they read and acted upon the advertiser's message. Thus it is impossible to
          generalize about the impact that advertising had on individual consumers. At the same
          time, advertising seemed to "work," in the sense that sales of over-the-counter drugs
          and other health-related products grew steadily throughout this period. Even during
          the Great Depression, Americans spent about $350 million a year on patent medicines,
          roughly three to four bottles per person (<a href="#references" title=
          "References">Jackson 1970, p. 21</a>). Both product manufacturers and advertising
          professionals believed that money invested in advertising was well spent.</p>

          <p>Advertisers pitched many health products to women for two reasons: first, they
          knew that married women with families did the vast majority of shopping for the
          entire household, and second, they believed women were more concerned about health
          issues than were men. Advertising campaigns cast mothers as "deputy doctors"
          responsible for the health of their husband and children. What might be termed the
          "mommy sell" -- if you want to keep your child safe from dread disease, buy our
          product -- was extremely popular throughout the period. See the following ads:</p>

          <ul>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4057df5n" title=
            "Child's cold">Child's cold may be flu</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4d50gk8s" title=
            "Mother!">Mother! Your child's cough...</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r49p2wv6c" title=
            "Ask your doctor">Ask your doctor, your grocer, your husband</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4348h49r" title=
            "To puzzled fathers">To puzzled fathers of rather young children</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4b85463m" title=
            "If your baby catches cold">If your baby catches cold</a></li>
          </ul>

          <p>Yet men too were concerned about their health, and ad campaigns often included
          gender specific appeals for their products. See for example the ads:</p>

          <ul>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4p844j3t" title=
            "The job hunter">The job hunter with two strikes against him</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4h12vw95" title=
            "Do you ever wish">Do you ever wish you were single again?</a></li>
            <li><a href="http://id.library.duke.edu/ark:/87924/r4bv7bj0r" title=
            "Street car colds!">Street car colds!...</a></li>
          </ul>

          <p>Because they were designed to sell products, advertising campaigns inevitably
          aimed at more affluent Americans, that is, people with the extra income to spend on
          items other than food and shelter. The lifestyles and habits represented in interwar
          advertisements did not represent an accurate sample of American families. During the
          depths of the Great Depression, advertisements continued to feature middle and upper
          class families (<a href="#references" title="References">Marchand 1985</a>). Figures
          recognizable as working class or ethnic Americans rarely appear in the advertisements
          in the MMA database. African Americans do not appear except as maids or servants
          until the 1950s, and then only in advertisements placed in <em>Ebony</em> and
          <em>Jet</em>. See for example the ads <a href=
          "http://id.library.duke.edu/ark:/87924/r4d796041" title="New Vicks">New Vicks
          double-buffered cold tablets...</a> and <a href=
          "http://id.library.duke.edu/ark:/87924/r4862c098" title="You cannot">You can
          not brush bad breath away...</a></p><br />

          <h3 id="references" title="references">References</h3>

          <p>Apple, Rima D. <em>Vitamania: Vitamins in American Culture</em> (New Brunswick,
          1996).<br />
          Jackson, Charles O. <em>Food and Drug Legislation in the New Deal</em> (Princeton,
          1970).<br />
          Lears, Jackson. <em>Fables of Abundance: A Cultural History of Advertising in
          America</em> (New York, 1994).<br />
          Marchand, Roland. <em>Advertising the American Dream</em> (Berkeley, 1985).<br />
          Pope, Daniel. <em>The Making of Modern Advertising</em> (New York, 1983).<br />
          Sloan, William D. and Startt, James D., ed. <em>The Media in America: A History</em>
          4th ed. (Northport, Ala., 1999).<br />
          Starr, Paul. <em>The Social Transformation of American Medicine: The Rise of a
          Sovereign Profession and the Making of A Vast Industry</em> (New York, 1982).<br />
          Strasser, Susan. <em>Satisfaction Guaranteed: The Making of the American Mass
          Market</em> (Washington, D.C., 1989).<br />
          Tomes, Nancy. <em>The Gospel of Germs: Men, Women, and the Microbe in American
          Life</em> (Cambridge, Mass., 1998).<br />
          ______. 2000 "Madison Avenue Medicine," <em>Ideas</em> vol. 7, no. 1, 4-17.<br />
          ______. 2001 "Merchants of Health: Medicine and Consumer Culture in the United
          States, 1900-1940," <em>Journal of American History</em> (forthcoming, Sept. 2001).</p>

 
      </div>
      <div class="tab-pane" id="copyright-citation">
          <h2>Copyright and Citation</h2>

          <p>Most of the advertisements used in the MMA
          Project were published after 1923. Therefore, the majority of advertisements are not
          in the public domain. All the ads may be viewed and printed out by anyone for
          research, teaching, private study, or general interest. <strong>For any other uses see
          below</strong> for permission requirements.</p>

          <h2 id="copy">Copyright Information</h2>

          <h3>Research, Teaching, Private Study, General Interest User Information:</h3>

          <p>The advertisements on this website have been made available for use in research,
          teaching, and private study. For these purposes under Fair Use, you may reproduce
          (print, make photocopies, or download)
          materials from this website without prior permission, on the condition that you
          provide proper attribution of the source in all copies. Although we don't require you 
          to contact us in advance for
          these purposes, we do appreciate hearing from teachers, students, and researchers who
          are using our resources in interesting ways (send e-mail to the Hartman Center at
          <a href=
          "mailto:hartman-center@duke.edu">hartman-center@duke.edu</a>).</p>

          <h3>Commercial,
          Broadcast, Mirroring, etc. User Information:</h3>

          <p>For other uses of materials from this website - i.e. commercial products,
          publication, broadcast, mirroring, and anything else that doesn't fall under
          "Fair Use" - we require that:</p>

          <p>For other uses of materials from this web site - i.e. commercial products,
          publication, broadcast, mirroring, and anything else that doesn't fall under
          "fair use" - we require that:</p>

          <ol>
            <li><strong>Users must obtain permission from the current copyright
            holder.</strong><br />
            Individuals wishing to publish or broadcast any advertisement included on this
            website must assume all responsibility for identifying and satisfying any
            claimants of copyright, trademarks, or service marks.<br/></li>

            <li><strong>Users must also obtain permission from the <a href=
            "http://library.duke.edu/rubenstein/hartman">John W. Hartman Center for Sales,
            Advertising &amp; Marketing History</a> to reproduce materials held in its
            archive that are featured on this website.</strong><br />
            A letter granting permission from the current copyright holder must be
            submitted along with the request to the Hartman Center.</li>
          </ol>

          <p>Contact the company that owns the product(s) contained in the advertisements you
          would like to use. You must provide written permission from these companies before
          the Hartman Center can provide permission to use an advertisement for a purpose which
          does not fall under "fair use." Please read on for more information.</p>

          <p><strong>The Hartman Center charges fees to cover the cost of reproduction of items in
          its collections. Requests that require extensive research or preparation by Center
          staff may require an hourly charge, negotiated in advance. In addition, requests to
          publish, broadcast, or otherwise disseminate ads may be subject to a commercial use
          fee. Please contact the <a href=
          "http://library.duke.edu/rubenstein/hartman/contact.html" title=
          "Hartman Center">Hartman Center Reference Archivist</a> for more information and a
          fee schedule.</strong></p>

          <h2 id="fine-print">The Fine Print</h2>

          <p>The John W. Hartman Center for Sales, Advertising &amp; Marketing History can
          provide high quality reproductions of items from MMA, with permission in advance from
          the copyright holder(s). We will make such copies for commercial uses, publication,
          broadcast, etc. uses <strong>only</strong> with <a href="#permission" title="Permission">prior
          permission</a>.</p>

          <p>Users may make a single copy in print or digital form of images or other material
          from the MMA site. These copies may be used only for use in research, teaching, or
          private study. They may not be made for or donated to other repositories. They may
          not be further reproduced without permission.</p>

          <p>The recipient agrees to give proper acknowledgement to the <a href=
          "http://library.duke.edu/rubenstein/" title="Rubenstein">Duke University David M.
          Rubenstein Rare Book &amp; Manuscript Library</a>, and further agrees to secure
          written permission in advance from the rights owner to publish or broadcast any item,
          in whole or in part, from the MMA on-line collection. Persons wishing to broadcast or
          publish this material must assume all responsibility for identifying and satisfying
          any claimants of copyright, trademark or service marks.</p>

          <p>The recipient agrees to indemnify and hold harmless Duke University, its officers,
          employees and agents from and against all suits, claims, actions and expenses arising
          out of the use of reproductions provided by the David M. Rubenstein Rare Book &amp;
          Manuscript Library. Duke University claims no rights to the advertising images
          included in MMA beyond ownership of the physical items.</p>

          <h2 id="cite" title="cite">How to cite materials from the MMA
          Project</h2>

          <p>When using advertisements from the MMA Project, please acknowledge their source by
          clearly stating the name of the project, the advertisement number, the collection
          name, and the name of the library. Also include the URL of the project page. Three
          examples are noted below:<br />
          <br />
          <strong>For an advertisement:</strong></p>

          <p>Medicine and Madison Avenue - Ad #MM0065<br />
          John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
          Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
          https://repository.duke.edu/dc/mma (date user accessed the source)</p>

          <strong>For a supplementary document:</strong><br />

          <p>Medicine and Madison Avenue - Supplementary Document #MM1147<br />
          John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
          Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
          https://repository.duke.edu/dc/mma (date user accessed the source)</p>

          <strong>For a background article:</strong><br />

          <p>Nancy Tomes, "Suggestions for Classroom Use: Student Guide," Medicine and Madison
          Avenue,<br />
          John W. Hartman Center for Sales, Advertising &amp; Marketing History<br />
          Duke University David M. Rubenstein Rare Book &amp; Manuscript Library<br />
          https://repository.duke.edu/dc/mma (date user accessed the source)</p>
            

          <p>Certain advertisements have additional copyright citation information required by the
          copyright holder. This information is included on the individual advertisement pages
          directly under the image. The user is responsible for including this information in
          all citations for those advertisements.</p>

          <p>It is not required, but we appreciate hearing from people who are using the
          advertisements in interesting ways (send e-mail to the Hartman Center at <a href=
          "mailto:hartman-center@duke.edu">hartman-center@duke.edu</a>).</p>
      </div>
    </div>

  </div>

  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'shared/about_sidebar' %>
  </div>
<% end %>
