<%# TODO: revise this temporary solution in favor of a more sustainable approach for custom licenses. %>
<div class="buffer-bottom-40">
  <div class="text-muted text-uppercase small strong">Copyright &amp; Use</div>
  <p class="small text-muted">The materials in this collection are made available for use in research, teaching and private study. Texts and images from this collection may not be used for any commercial purpose without prior permission from Duke University.<p>
</div>
